<div>
  <div *ngIf="isLong" id="preview-container"
      class="absolute top-[100px] left-[10px] md:left-[40px] w-[22vw] md:w-[18vw] h-[70vh] rounded-md z-40 overflow-y-hidden border-[1px] border-solid border-green-300"
      ></div>
  <div *ngIf="!showLens && !isEditing" class="absolute mt-[45vh] ml-[35vw] flex gap-4">
    <button
      class="bg-green-500 w-[150px] h-[60px] rounded-lg"
      (click)="initLens()"
    >
      Start Lens
    </button>
    <button
      class="bg-green-500 w-[150px] h-[60px] rounded-lg"
      (click)="initWasm()"
    >
      Start WASM Lens
    </button>
    <button
      class="bg-green-500 w-[150px] h-[60px] rounded-lg"
      (click)="initWasmLong()"
    >
      Start Long Receipt Lens
    </button>
  </div>
  <div *ngIf="showLens" class="h-screen overflow-hidden">
    <!-- BUTTON TO CLOSE LENS -->
    <button
      id="veryfi-lens-close"
      class="absolute z-50 m-6 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
      (click)="stopCamera()"
    >
      X
    </button>
    <!-- BUTTON TO CLOSE LENS -->
    <div class="h-full">
     
      <div
        id="veryfi-container"
        class="relative flex justify-center w-full h-full overflow-hidden"
      ></div>
      <!-- BUTTON TO CAPTURE IMAGE -->
      <button
        *ngIf="!isWasm && !isLong"
        id="veryfi-lens-complete"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-30"
        (click)="capture()"
      ></button>
      <button
        *ngIf="isWasm"
        id="veryfi-lens-complete"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-30"
        (click)="captureWasm()"
      ></button>
      <button
        *ngIf="isLong"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-50"
        (click)="startStitching()"
      ></button>
      <button
        *ngIf="isLong && isStitching"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-50"
        (click)="captureLong()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="red"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="none"
          class="ml-[20%] w-8 h-8"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M5.25 7.5A2.25 2.25 0 017.5 5.25h9a2.25 2.25 0 012.25 2.25v9a2.25 2.25 0 01-2.25 2.25h-9a2.25 2.25 0 01-2.25-2.25v-9z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div *ngIf="image">
    <button
      id="veryfi-lens-close"
      class="absolute z-50 m-6 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
      (click)="goBack()"
    >
      X
    </button>
    <img
      class="absolute left-[10%] md:left-[35%] h-[100vh]"
      [src]="'data:image/png;base64,' + base64Image"
    />
  </div>
</div>
