<div>
  <div
    *ngIf="isLong"
    id="preview-container"
    class="absolute top-[100px] left-[45vw] md:left-[40px] w-[22vw] md:w-[18vw] h-[70vh] rounded-md z-40 overflow-y-hidden border-[1px] border-solid border-green-300"
  ></div>
  <div
    *ngIf="!showLens && !isEditing && !isUpload"
    class="absolute top-[35vh] left-[40vw] flex flex-col gap-4 text-center"
  >
    <button
      class="flex text-center items-center gap-3 text-[15px] p-4 hover:text-green-500 text-white w-full cursor-pointer border-solid border-[1px] rounded-md border-white disabled:text-gray-400"
      (click)="initLens()"
    >
      Socket Receipt
    </button>
    <button
      class="flex items-center gap-3 text-[15px] p-4 hover:text-green-500 text-white w-full cursor-pointer border-solid border-[1px] rounded-md border-white disabled:text-gray-400"
      (click)="initWasm()"
    >
      Wasm Receipt
    </button>
    <button
      class="flex items-center gap-3 text-[15px] p-4 hover:text-green-500 text-white w-full cursor-pointer border-solid border-[1px] rounded-md border-white disabled:text-gray-400"
      (click)="initWasmLong()"
    >
      Long Receipt
    </button>
    <button
      class="flex items-center gap-3 text-[15px] p-4 hover:text-green-500 text-white w-full cursor-pointer border-solid border-[1px] rounded-md border-white disabled:text-gray-400"
      (click)="initDragAndDrop()"
    >
      Upload Document / Drag and Drop
    </button>
  </div>
  <div *ngIf="showLens" class="h-screen overflow-hidden">
    <!-- BUTTON TO CLOSE LENS -->
    <button
      id="veryfi-lens-close"
      class="absolute z-50 m-6 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="button"
      (click)="goBack()"
    >
      X
    </button>
    <!-- BUTTON TO CLOSE LENS -->
    <div class="h-full">
      <div
        id="veryfi-container"
        class="relative flex justify-center h-full overflow-hidden"
      ></div>
      <!-- BUTTON TO CAPTURE IMAGE -->
      <button
        *ngIf="!isWasm && !isLong"
        id="veryfi-lens-complete"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-30"
        (click)="capture()"
      ></button>
      <button
        *ngIf="isWasm"
        id="veryfi-lens-complete"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-30"
        (click)="captureWasm()"
      ></button>
      <button
        *ngIf="isLong"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-50"
        (click)="startStitching()"
      ></button>
      <button
        *ngIf="isLong && isStitching"
        class="absolute bottom-8 sm:bottom-16 left-0 right-0 ml-auto mr-auto border-4 border-white-600 hover:bg-white/50 rounded-full w-16 h-16 z-50"
        (click)="captureLong()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="red"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="none"
          class="ml-[20%] w-8 h-8"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M5.25 7.5A2.25 2.25 0 017.5 5.25h9a2.25 2.25 0 012.25 2.25v9a2.25 2.25 0 01-2.25 2.25h-9a2.25 2.25 0 01-2.25-2.25v-9z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div
    *ngIf="isUpload && !base64Image"
    class="absolute bottom-28 left-[35vw] w-[30vw] flex bg-slate-200 rounded-md shadow-md p-4 m-2 gap-1 justify-center items-center h-[70px] mt-4 border-dashed border-[2px] border-green-500"
    (drop)="onDrop($event)"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (click)="triggerInput(fileInput)"
  >
    Drag and Drop or Click to Upload
    <input
      #fileInput
      type="file"
      accept="image/*"
      (change)="handleImageChange($event)"
      class="hidden"
    />
  </div>
  <button
    *ngIf="isUpload"
    id="veryfi-lens-close"
    class="absolute z-50 m-6 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    type="button"
    (click)="goBack()"
  >
    X
  </button>
  <div
    *ngIf="base64Image"
    class="flex flex-col justify-center items-center gap-4 mt-12"
  >
    <img
      *ngIf="base64Image && !croppedImage"
      class="h-[70vh]"
      [src]="'data:image/png;base64,' + base64Image"
    />
    <img
      *ngIf="croppedImage"
      class="h-[70vh]"
      [src]="'data:image/png;base64,' + croppedImage"
    />
    <button
      *ngIf="isUpload && !croppedImage"
      (click)="handleUploadCrop()"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-[50%] focus:outline-none focus:shadow-outline mr-4 mb-4"
    >
      Crop
    </button>
    <button
      *ngIf="image"
      (click)="handleSubmit()"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-[50%] focus:outline-none focus:shadow-outline mr-4 mb-4"
    >
      Submit
    </button>
  </div>
</div>
